<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/style.css">
  <title>Document</title>
  
</head>
<body>
  <%- include('partials/nav.ejs') -%>
  <h1>YOU CAN VISIT MY PORTFOLIO ON MY WEBLISTE</h1>
  <p>ENGENEER</p>
</body>
</html>