<style>
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
  }
  .link{
    padding: 0 20px;
    
  }
  a{
    text-decoration: none;
  }
</style>
<div class="menu">
  <a href="/">
    <div class="link">
        Home
      </div>
  </a>
  <a href="/contact">
    <div class="link">
        Contact
      </div>
  </a>
  <a href="/about-us">
    <div class="link">
        About us
      </div>
  </a>
  <a href="/profile/12">
    <div class="link">
        Profile
      </div>
  </a>
</div>